html,
body {
	height: 100%;
	font-family: "Arial";
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	color: $text1;
	overflow-x: hidden;
	@media (max-width: 575.98px) {
		font-size: 14px;
	}
}
textarea {
	resize: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
	position: relative;
	background: #f9f9f9;
}
.footer {
	flex: 0 0 auto;
}
.container {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0px 15px;
	height: 100%;
}
input,
textarea {
	appearance: none;
	outline: none;
}

//Ввод данных конец

.breadcrumbs {
	width: max-content;
	max-width: 100%;
	margin: 32px auto 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 5px;
	@media (max-width: 575.98px) {
		margin-top: 17px;
	}
	&__link {
		flex: none;
		font-size: 13px;
		line-height: 15px;
		color: #999999;
		position: relative;
		&:first-child {
			padding-left: 18px;
			&::before {
				content: "";
				position: absolute;
				top: -2px;
				left: 2px;
				width: 16px;
				height: 18px;
				background: url("../images/icon-house.png");
			}
		}
		&:not(:first-child) {
			padding-left: 20px;
			&::before {
				content: "";
				position: absolute;
				top: 5px;
				left: 3px;
				width: 14px;
				height: 7px;
				background: url("../images/icon-arrow-right.png");
			}
		}
	}
}
.input {
	width: 100%;
	font-size: 16px;
	height: 41.4px;
	&::placeholder {
		color: #b1b1b1;
	}
	&,
	.select__head {
		padding: 11px 16px 11px 0;
		border-bottom: 1px solid #dddddd;
	}
	&__block {
		position: relative;
	}
	&__block--error {
		.input {
			color: $red;
		}
		.input__error {
			display: block;
		}
	}
	&__block--success {
		.input {
			color: #009229;
		}
		.input__box {
			.icon-check {
				display: block;
			}
		}
	}
	&__box {
		position: relative;
	}
	&__icon-success {
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
		right: 0;
		font-size: 19px;
		color: #009229;
		display: none;
	}

	&__error {
		position: absolute;
		left: 0;
		top: calc(100% + 4px);
		display: none;
		color: $red;
	}
}
.select {
	position: relative;
	&.open {
		.select__body {
			display: block;
		}
		.select__icon.icon-triangle-down {
			transform: rotate(-180deg);
		}
	}
	&__head {
		height: 41.4px;
		font-size: 16px;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 11px 16px 11px 0;
		border-bottom: 1px solid #dddddd;
	}
	&__head--calendar {
		position: relative;
		padding: unset;
		.daterange-input {
			padding: 11px 30px 11px 0;
			width: 100%;
			&::placeholder {
				color: #b1b1b1;
			}
		}
		.icon {
			position: absolute;
			transform: translateY(-50%);
			top: 50%;
			right: 16px;
			pointer-events: none;
		}
	}
	&__placeholder {
		color: #b1b1b1;
		&.active {
			color: $text1;
		}
	}

	&__icon {
		color: #b1b1b1;
		font-size: 15px;
		&.icon-calendar {
			font-size: 18px;
			margin-right: -2px;
		}
	}

	&__body {
		position: absolute;
		right: 0;
		left: 0;
		top: calc(100% - 1px);
		z-index: 20;
		background: $blue;
		color: $white;
		border-radius: 0 0 10px 10px;
		padding: 10px 20px 10px;
		max-height: 380px;
		display: flex;
		flex-direction: column;
		display: none;
		overflow: hidden;
		box-shadow: 0px 5px 25px rgba(208, 208, 208, 0.25);
	}

	&__block {
		padding: 12px 0;
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		&:not(:last-child) {
			&::after {
				content: "";
				position: absolute;
				transform: translateX(-50%);
				left: 50%;
				bottom: 0;
				width: 195px;
				height: 1px;
				background: $white;
			}
		}
	}

	&__item {
		font-size: 16px;
		cursor: pointer;
		padding: 8px 0;
		text-align: center;
	}
}
.search-small {
	flex: 0 0 auto;
	padding: 10px;
	text-align: center;
	background: $white;
	border-radius: 3px;
	margin-bottom: 14px;
	font-size: 16px;
	&::placeholder {
		color: #dddddd;
	}
	&__container {
		overflow: hidden;
	}

	&__wrapper {
		max-height: 200px;
		flex: 1 1 auto;
		overflow-y: auto;
		p {
			display: none;
		}
		p.show {
			display: block;
		}
	}
}
.checkbox {
	&__block {
		&.active {
			.checkbox__text {
				color: $text1;
			}
		}
	}

	&__box {
		cursor: pointer;
		display: flex;
		align-items: center;
	}

	&__none {
	}

	&__style {
	}

	&__text {
		color: #b1b1b1;
	}

	&__input {
		display: none;
		margin-top: 12px;
		margin-bottom: 5px;
	}
}
.checkbox {
	position: relative;
}
.checkbox__none,
.radio__none {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
.checkbox__style {
	display: block;
	cursor: pointer;
	width: 15px;
	height: 15px;
	border: 1.13263px solid #dddddd;
	margin-right: 10px;
	border-radius: 2.26525px;
}
.checkbox__none:checked + .checkbox__style {
	background: url("../images/svg-icons/check.svg") 2px 2px/9px 8px no-repeat;
}
.radio__style {
	position: relative;
	display: block;
	cursor: pointer;
}
.radio__none:checked + .radio__style::before {
	content: " ";
}

.simplebar-track.simplebar-vertical {
	background: #ccc9c9;
	border-radius: 18px;
	width: 5px;
}
.simplebar-scrollbar:before {
	position: absolute;
	content: "";
	background: #ffffff;
	border-radius: 18px;
	left: 0;
	right: 0;
	width: 5px;
	opacity: 1;
}

.daterangepicker.show-calendar .drp-calendar.right {
	display: none;
}
.daterangepicker.openscenter:after {
	display: none;
}
.daterangepicker.openscenter:before {
	display: none;
}
.available.off {
	display: table-cell !important;
}
.daterangepicker .drp-calendar {
	width: 100%;
	max-width: unset;
	background: #ffffff;
	box-shadow: 0px 5px 25px rgba(208, 208, 208, 0.25);
	border-radius: 14px;
	overflow: hidden;
}
.daterangepicker .drp-calendar.left th.month {
	font-size: 16px;
	font-family: "Arial";
	font-weight: 400;
	color: #5a5a5a;
}
.daterangepicker .calendar-table td {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	letter-spacing: 0.04em;
	font-family: "Arial";
	color: #5a5a5a;
	width: unset;
	height: unset;
}
.daterangepicker .drp-calendar.left {
	padding: 20px 82px;
	padding: 0;
}
@media (min-width: 564px) {
	.daterangepicker .drp-calendar.left .calendar-table {
		padding-right: unset;
	}
	.daterangepicker {
		width: 100%;
	}
}
.daterangepicker {
	width: 100%;
	position: absolute;
	color: inherit;
	background-color: #fff;
	margin-left: -2px;
	border-radius: 0;
	border: unset;
}
.daterangepicker .drp-calendar.left .calendar-table {
	font-family: "Arial";
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	padding-top: 11px;
	padding-bottom: 14px;
}
.daterangepicker td.start-date.end-date {
	background: $blue;
	border-radius: 3px;
	border: none;
}
.daterangepicker td.start-date {
	background: $blue;
	border-radius: 3px;
	border: none;
	position: relative;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
	color: #fff;
	border-radius: 3px;
	background: $blue;
}
.daterangepicker td.weekend.available {
	color: $blue;
}
.daterangepicker td.in-range {
	background: #f1f1f1;
}
.daterangepicker td.in-range.active {
	background: $blue;
	color: #fff;
}
.daterangepicker td.ends {
	color: #e2e2e2;
}
.daterangepicker td.ends.weekend {
	color: rgba(90, 168, 235, 0.5);
}
.table-condensed thead tr:first-child {
	position: relative;
}
.daterangepicker .calendar-table .next,
.daterangepicker .calendar-table .prev {
	position: absolute;
	z-index: 30004;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	top: 50%;
}
.daterangepicker .calendar-table .next {
	right: 35px;
}
.daterangepicker .calendar-table .prev {
	left: 35px;
}
.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
	border-color: $blue;
	position: relative;
	bottom: 2px;
}
.daterangepicker .calendar-table table {
	width: 250px;
	border-collapse: separate;
	border-spacing: 0 6px;
	height: 150px;
}
.off {
	display: table-cell !important;
}
input {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.daterangepicker .calendar-table th {
	color: #5a5a5a;
	font-family: "Montserrat";
}
.daterangepicker:after,
.daterangepicker:before {
	display: none;
}
.daterangepicker .calendar-table td.today {
	position: relative;
}
// .daterangepicker .calendar-table td.today::before {
// 	content: "";
// 	position: absolute;
// 	bottom: -2px;
// 	left: 50%;
// 	-webkit-transform: translateX(-50%);
// 	-ms-transform: translateX(-50%);
// 	transform: translateX(-50%);
// 	width: 18px;
// 	height: 2px;
// 	background: #ff4b55;
// }
