// popup template

// popup
.popup-type-of-rest {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 99999;
   width: 100%;
   height: 100vh;
   overflow-y: auto;
   &__body {
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .popup-close {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 18px;
   }
   &__content {
      position: relative;
      display: flex;
      background: $white;
      border-radius: 10px;
      max-width: 1115px;
      width: 100%;
      margin: 40px 30px;
      padding: 50px 0;
      @media (max-width: 991.98px) {
         flex-direction: column;
         padding: 50px 0 30px;
      }
      @media (max-width: 575.98px) {
         margin: 40px 20px;
      }
   }
   &__block {
      width: 50%;
      padding: 0 40px;
      @media (max-width: 991.98px) {
         &:not(:last-child) {
            margin-bottom: 30px;
         }
         width: 100%;
      }
      @media (max-width: 767.98px) {
         padding: 0 15px;
      }
   }

   &__leftside {
      position: relative;
      &::after {
         content: "";
         position: absolute;
         top: 0;
         right: 0;
         width: 1px;
         height: 85%;
         background: $blue;
         @media (max-width: 991.98px) {
            display: none;
         }
      }
   }

   &__text {
      font-weight: 600;
      line-height: 1.56;
      margin-bottom: 20px;
      @media (max-width: 575.98px) {
         margin-bottom: 5px;
      }
   }

   &__list {
   }

   &__list-item {
      font-weight: 400;
      padding: 10px 20px;
      border-bottom: 1px solid $blue;
      margin-bottom: 5px;
      position: relative;
      @media (max-width: 575.98px) {
         padding-left: 25px;
         font-size: 14px;
      }
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 17px;
         width: 9px;
         height: 9px;
         border-radius: 50%;
         background: $blue;
      }
   }

   &__rightside {
   }
}
// popup end
