$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-close: "\e906";
$icon-info: "\e905";
$icon-calendar: "\e900";
$icon-check: "\e901";
$icon-triangle-down: "\e902";
$icon-triangle-left: "\e903";
$icon-triangle-right: "\e904";

